body{
    text-align: center;
    background-image: url("https://www.linkedin.com/pulse/reimagining-blood-donation-india-ai-jince-george-ktojc");
    background-size: cover;
}
h1{
    color: aliceblue;
}
.name{
    color: aliceblue;
}